## Data Cleaning - April's Notebook

In [1]:
#Import the required packages
#Import package pandas for data analysis
import pandas as pd

# Import package numpy for numeric computing
import numpy as np

# Import package matplotlib  for visualisation/plotting
import matplotlib.pyplot as plt

#import matplotlib.patches as mpatches
import seaborn as sns

#import package matplotlib for import plots to PDF
from matplotlib.backends.backend_pdf import PdfPages
import datetime
#For showing plots directly in the notebook
#%matplotlib inline

# Reading from a csv file, into a data frame

In [2]:
#This is the data of January 2013df
%time df = pd.read_csv('2012_one_week.csv')

Wall time: 18 s

In [3]:
df.head(5)

,Unnamed: 0,Timestamp,Line_ID,Direction,JourneyPattern_ID,Time_Frame,VehicleJourney_ID,Operator,Congestion,Longitude,Latitude,Delay,Block_ID,Vehicle_ID,Stop_ID,At_Stop,Time,Day,datetime
0,0,1352160002000000,41.0,0,041B0002,2012-11-05,61,SL,0,-6.264167,53.453217,-623,41008,33631,3874,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"
1,1,1352160002000000,27.0,0,00270001,2012-11-05,4976,RD,0,-6.290833,53.319332,0,27011,33415,2355,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"
2,2,1352160002000000,140.0,0,01400001,2012-11-05,6615,HN,0,-6.276083,53.343884,0,140010,33141,895,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"
3,3,1352160002000000,83.0,0,083A0001,2012-11-05,7099,HN,0,-6.273733,53.419632,0,83002,40019,324,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"
4,4,1352160002000000,16.0,0,016C0001,2012-11-05,6175,SL,0,-6.254583,53.355534,-23,16017,33633,270,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"

In [4]:
#Drop the index column and line_id 
df.drop(df.columns[[0]], axis=1, inplace=True)
df.dtypes

Timestamp              int64
Line_ID              float64
Direction              int64
JourneyPattern_ID     object
Time_Frame            object
VehicleJourney_ID      int64
Operator              object
Congestion             int64
Longitude            float64
Latitude             float64
Delay                  int64
Block_ID               int64
Vehicle_ID             int64
Stop_ID                int64
At_Stop                int64
Time                  object
Day                   object
datetime              object
dtype: object

In [5]:
df.shape

(2337254, 18)

In [6]:
df.head(3)

,Timestamp,Line_ID,Direction,JourneyPattern_ID,Time_Frame,VehicleJourney_ID,Operator,Congestion,Longitude,Latitude,Delay,Block_ID,Vehicle_ID,Stop_ID,At_Stop,Time,Day,datetime
0,1352160002000000,41.0,0,041B0002,2012-11-05,61,SL,0,-6.264167,53.453217,-623,41008,33631,3874,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"
1,1352160002000000,27.0,0,00270001,2012-11-05,4976,RD,0,-6.290833,53.319332,0,27011,33415,2355,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"
2,1352160002000000,140.0,0,01400001,2012-11-05,6615,HN,0,-6.276083,53.343884,0,140010,33141,895,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"

In [7]:
df.drop(df.columns[[1, 2, 8, 9, 14, 17]], axis=1, inplace=True)
#df['datetime'] = pd.to_datetime(df['datetime'])
#df['Date']=df['datetime'].dt.date

In [8]:
df.head(3)

,Timestamp,JourneyPattern_ID,Time_Frame,VehicleJourney_ID,Operator,Congestion,Delay,Block_ID,Vehicle_ID,Stop_ID,Time,Day
0,1352160002000000,041B0002,2012-11-05,61,SL,0,-623,41008,33631,3874,00:00:02,Tuesday
1,1352160002000000,00270001,2012-11-05,4976,RD,0,0,27011,33415,2355,00:00:02,Tuesday
2,1352160002000000,01400001,2012-11-05,6615,HN,0,0,140010,33141,895,00:00:02,Tuesday

In [9]:
df.dtypes

Timestamp             int64
JourneyPattern_ID    object
Time_Frame           object
VehicleJourney_ID     int64
Operator             object
Congestion            int64
Delay                 int64
Block_ID              int64
Vehicle_ID            int64
Stop_ID               int64
Time                 object
Day                  object
dtype: object

In [10]:
df['Timestamp'] = df['Timestamp'] //1000000
df.head(3)

,Timestamp,JourneyPattern_ID,Time_Frame,VehicleJourney_ID,Operator,Congestion,Delay,Block_ID,Vehicle_ID,Stop_ID,Time,Day
0,1352160002,041B0002,2012-11-05,61,SL,0,-623,41008,33631,3874,00:00:02,Tuesday
1,1352160002,00270001,2012-11-05,4976,RD,0,0,27011,33415,2355,00:00:02,Tuesday
2,1352160002,01400001,2012-11-05,6615,HN,0,0,140010,33141,895,00:00:02,Tuesday

In [11]:
# Select columns containing categorical data
categorical_columns = df[['JourneyPattern_ID','VehicleJourney_ID','Stop_ID', 'Day']].columns

# Convert data type to category for these columns
for column in categorical_columns:
    df[column] = df[column].astype('category')
# Descriptive stats for categorical features
#df.select_dtypes(['category']).describe().T
df[categorical_columns].describe().T

                     count unique       top    freq
JourneyPattern_ID  2337224    472  046A1001   59284
VehicleJourney_ID  2337254  17323      6059    1528
Stop_ID            2337254   4563      2039   43374
Day                2337254      7    Monday  395784

# Delete all rows which are not in a journey and not at stop

In [12]:
df_groupby=df.groupby(['VehicleJourney_ID','JourneyPattern_ID'])

size = df_groupby.size()
#size=size[size<13]

keys=df_groupby.groups

In [13]:
# Filter all the data only have 
df2=df_groupby.filter(lambda x: len(x) < 13)

In [16]:
df=pd.concat([df, df2]).drop_duplicates(keep=False)

In [17]:
%time df.groupby(['VehicleJourney_ID','JourneyPattern_ID','Day']).size().reset_index().rename(columns={0:'count'})

Wall time: 674 ms

      VehicleJourney_ID JourneyPattern_ID        Day  count
0                     1          033A1002     Friday     11
1                     1          033A1002     Monday     11
2                     1          033A1002   Thursday     17
3                     1          033A1002    Tuesday     56
4                     1          033A1002  Wednesday     17
5                     2          033A0001     Friday     14
6                     2          033A0001   Thursday     45
7                     2          033A0001    Tuesday     33
8                     2          033A0001  Wednesday     33
9                     2          033A1002  Wednesday      1
10                    2              null   Thursday      1
11                    4          00411001     Friday     14
12                    4          00411001     Monday     58
13                    4          00411001   Thursday     61
14                    4          00411001    Tuesday     68
15                    4          00411001  Wednesday     47
16                    5          00411001     Friday      1
17                    5          00411001   Thursday      1
18                    5          00411001    Tuesday      1
19                    5          00411001  Wednesday      1
20                    5          041C0001     Friday     24
21                    5          041C0001     Monday     41
22                    5          041C0001   Thursday     56
23                    5          041C0001    Tuesday     70
24                    5          041C0001  Wednesday     48
25                    6          00411002     Friday     37
26                    6          00411002     Monday     48
27                    6          00411002   Thursday     53
28                    6          00411002    Tuesday     39
29                    6          00411002  Wednesday     42
...                 ...               ...        ...    ...
74668            990180          00071001   Thursday     45
74669            990640          00041001     Friday      1
74670            990706          00411001     Friday     44
74671            990711          00271001     Sunday      4
74672            990905          00311001    Tuesday      8
74673            990912          077A1001  Wednesday     17
74674            991396          045A1004  Wednesday      1
74675            991654          00041001     Friday      6
74676            992606          025A0001     Monday      9
74677            992714          046A1001     Monday     12
74678            993235          00161001     Friday     25
74679            993374          00390001  Wednesday     67
74680            993439          00071002     Friday      1
74681            993669          029A1001  Wednesday      1
74682            994052          039A0002     Friday     18
74683            994351          00380001     Monday      7
74684            994364          00071001     Monday      3
74685            994421          025A1001   Thursday     16
74686            995509          025A1001     Friday     25
74687            995782          00750001     Friday      5
74688            996115          00171001    Tuesday     10
74689            996128          01501001    Tuesday      1
74690            996843          00131002  Wednesday     13
74691            997845          00750001     Monday      2
74692            997891          00131002     Friday      1
74693            998471          00011001   Saturday     37
74694            998547          077A0001     Friday     32
74695            998685          00071001   Thursday      3
74696            999390          077A0001    Tuesday     17
74697            999825          046A0001     Monday     83

[74698 rows x 4 columns]

In [18]:
df = df.drop(df.index[df.At_Stop == 0])

AttributeError: 'DataFrame' object has no attribute 'At_Stop'

In [20]:
df.groupby(['VehicleJourney_ID']).size()

VehicleJourney_ID
1         112
2         128
4         248
5         243
6         224
7         187
8         347
9         159
10        123
11        429
12        183
13        211
14        162
15        242
16        264
17        277
18        184
19        244
20        265
21        260
22        262
23        211
24        279
25        206
26        171
27        188
28        104
29        231
30        163
31        180
         ...
990180     45
990640      1
990706     44
990711      4
990905      8
990912     17
991396      1
991654      6
992606      9
992714     12
993235     25
993374     67
993439      1
993669      1
994052     18
994351      7
994364      3
994421     16
995509     25
995782      5
996115     10
996128      1
996843     13
997845      2
997891      2
998471     37
998547     32
998685      3
999390     17
999825     83
dtype: int64

## Groupby Vehicle_Journey_ID, Date, Journey_Patter_ID ，and delete duplicate stop_id, only keep the first one

In [22]:
df2 = df.drop_duplicates(['VehicleJourney_ID','JourneyPattern_ID','Day'])

In [25]:
df2_15744=df2.loc[df2['VehicleJourney_ID']==15744]

In [26]:
df2_15744[categorical_columns].describe().T

                  count unique       top freq
JourneyPattern_ID     2      2  07470001    1
VehicleJourney_ID     2      1     15744    2
Stop_ID               2      1      3665    2
Day                   2      1    Sunday    2

## add a new feature stop_num, calculate the time between the current stop in the row and that first stop as an extra column

In [ ]:
df

## Add a new feature Time_during

In [27]:
zscore=lambda x: (x - x.min())
df['Trip_Time']= df.groupby(['VehicleJourney_ID','JourneyPattern_ID','Day'])['Timestamp'].transform(zscore)

In [ ]:
df.tail(5)

In [ ]:
df_15744=df.loc[df['Vehicle_Journey_ID']==15744]

In [ ]:
df_15744[categorical_columns].describe().T

In [ ]:
df_15744

# Check data of one Vehicle_Journey_ID 6187

In [ ]:
df_6187=df.loc[df.Vehicle_Journey_ID==6187]

In [ ]:
df_6187[categorical_columns].describe().T

In [ ]:
pd.unique(df_6187.Journey_Pattern_ID.ravel())

In [ ]:
pd.unique(df_6187.day_of_week.ravel())

In [ ]:
df_6187_Mon=df_6187.loc[df['day_of_week']=='Monday']

In [ ]:
df_6187_Mon[categorical_columns].describe().T

In [ ]:
df_6187_Mon_150=df_6187_Mon.loc[df_6187_Mon['Journey_Pattern_ID']=='01501001']

In [ ]:
df_6187_Mon_150[categorical_columns].describe().T

In [ ]:
df_6187_Mon_46A=df_6187_Mon.loc[df_6187_Mon['Journey_Pattern_ID']=='046A0005']
df_6187_Mon_46A

In [ ]:
df_6187_Mon_150