# Data Analysis for Dublin Bus Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.backends.backend_pdf import PdfPages
import datetime
import time

In [2]:
% time df = pd.read_csv('2012_one_week.csv')

Wall time: 18 s

In [3]:
df.head(5)

,Unnamed: 0,Timestamp,Line_ID,Direction,JourneyPattern_ID,Time_Frame,VehicleJourney_ID,Operator,Congestion,Longitude,Latitude,Delay,Block_ID,Vehicle_ID,Stop_ID,At_Stop,Time,Day,datetime
0,0,1352160002000000,41.0,0,041B0002,2012-11-05,61,SL,0,-6.264167,53.453217,-623,41008,33631,3874,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"
1,1,1352160002000000,27.0,0,00270001,2012-11-05,4976,RD,0,-6.290833,53.319332,0,27011,33415,2355,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"
2,2,1352160002000000,140.0,0,01400001,2012-11-05,6615,HN,0,-6.276083,53.343884,0,140010,33141,895,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"
3,3,1352160002000000,83.0,0,083A0001,2012-11-05,7099,HN,0,-6.273733,53.419632,0,83002,40019,324,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"
4,4,1352160002000000,16.0,0,016C0001,2012-11-05,6175,SL,0,-6.254583,53.355534,-23,16017,33633,270,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"

In [4]:
df.drop(df.columns[[0]], axis=1, inplace=True)
df.dtypes

Timestamp              int64
Line_ID              float64
Direction              int64
JourneyPattern_ID     object
Time_Frame            object
VehicleJourney_ID      int64
Operator              object
Congestion             int64
Longitude            float64
Latitude             float64
Delay                  int64
Block_ID               int64
Vehicle_ID             int64
Stop_ID                int64
At_Stop                int64
Time                  object
Day                   object
datetime              object
dtype: object

In [5]:
df.head(3)

,Timestamp,Line_ID,Direction,JourneyPattern_ID,Time_Frame,VehicleJourney_ID,Operator,Congestion,Longitude,Latitude,Delay,Block_ID,Vehicle_ID,Stop_ID,At_Stop,Time,Day,datetime
0,1352160002000000,41.0,0,041B0002,2012-11-05,61,SL,0,-6.264167,53.453217,-623,41008,33631,3874,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"
1,1352160002000000,27.0,0,00270001,2012-11-05,4976,RD,0,-6.290833,53.319332,0,27011,33415,2355,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"
2,1352160002000000,140.0,0,01400001,2012-11-05,6615,HN,0,-6.276083,53.343884,0,140010,33141,895,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"

In [6]:
df['Timestamp'] = df['Timestamp']//1000000

In [7]:
df.head(3)

,Timestamp,Line_ID,Direction,JourneyPattern_ID,Time_Frame,VehicleJourney_ID,Operator,Congestion,Longitude,Latitude,Delay,Block_ID,Vehicle_ID,Stop_ID,At_Stop,Time,Day,datetime
0,1352160002,41.0,0,041B0002,2012-11-05,61,SL,0,-6.264167,53.453217,-623,41008,33631,3874,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"
1,1352160002,27.0,0,00270001,2012-11-05,4976,RD,0,-6.290833,53.319332,0,27011,33415,2355,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"
2,1352160002,140.0,0,01400001,2012-11-05,6615,HN,0,-6.276083,53.343884,0,140010,33141,895,1,00:00:02,Tuesday,"('00:00:02', 'Tuesday')"

In [8]:
df.shape

(2337254, 18)

In [10]:
# defining the categorical columns
categorical_columns = df[['JourneyPattern_ID', 'VehicleJourney_ID', 'Stop_ID', 'Day']].columns

# convert the types of these columns to category
for column in categorical_columns:
    df[column] = df[column].astype('category')

In [11]:
# prepare a table of descriptive statistics for categorical features
df[categorical_columns].describe().T

                     count unique       top    freq
JourneyPattern_ID  2337224    472  046A1001   59284
VehicleJourney_ID  2337254  17323      6059    1528
Stop_ID            2337254   4563      2039   43374
Day                2337254      7    Monday  395784

In [12]:
# delete all rows wchih are not in a journey and not at stop ? 
df_groupby=df.groupby(['VehicleJourney_ID', 'JourneyPattern_ID'])

size = df_groupby.size()

keys = df_groupby.groups

In [13]:
# cut out journeys that don't have enough entries to have even left the terminus? 
df2 = df_groupby.filter(lambda x: len(x) < 13) # figure out what this line does

In [14]:
df = pd.concat([df, df2]).drop_duplicates(keep=False) 
# keep = False doesn't keep
# any of the duplicates? Should we not keep the first or last so we have one entry
# for that instance at least?

In [15]:
df.shape

(2298944, 18)

## Add a new feature for calculating time from terminus

In [18]:
# calculate the trip time in seconds 
zscore = lambda x: (x - x.min()) # figure out what this code does
df['Trip_Time'] = df.groupby(['VehicleJourney_ID', 'JourneyPattern_ID', 'Day'])['Timestamp'].transform(zscore)

In [30]:
df.tail(5)

,Timestamp,Line_ID,Direction,JourneyPattern_ID,Time_Frame,VehicleJourney_ID,Operator,Congestion,Longitude,Latitude,Delay,Block_ID,Vehicle_ID,Stop_ID,At_Stop,Time,Day,datetime,Trip_Time
2337249,1352764792,38.0,0,00381003,2012-11-12,1243,PO,0,-6.261583,53.352734,-188,38003,36045,265,1,23:59:52,Monday,"('23:59:52', 'Monday')",2089
2337250,1352764792,37.0,0,00371002,2012-11-12,2115,PO,0,-6.260700,53.347198,-249,37003,33578,313,1,23:59:52,Monday,"('23:59:52', 'Monday')",1325
2337251,1352764792,46.0,0,046A0001,2012-11-12,7345,D2,0,-6.231650,53.318817,0,46011,36020,2039,1,23:59:52,Monday,"('23:59:52', 'Monday')",4928
2337252,1352764796,16.0,0,00161001,2012-11-12,5652,SL,0,-6.218033,53.425232,-488,16004,33425,7347,1,23:59:56,Monday,"('23:59:56', 'Monday')",4371
2337253,1352764798,7.0,0,00070001,2012-11-12,6963,D1,0,-6.138767,53.276184,-128,7014,43007,2040,1,23:59:58,Monday,"('23:59:58', 'Monday')",1319

In [20]:
df_15744=df.loc[df['VehicleJourney_ID'] == 15744]

In [21]:
df_15744[categorical_columns].describe().T

                  count unique       top freq
JourneyPattern_ID    77      1  07471001   77
VehicleJourney_ID    77      1     15744   77
Stop_ID              77      6      4319   41
Day                  77      1    Sunday   77

## Check the data for one VehicleJourney_ID 6187

In [22]:
df_6187 = df.loc[df.VehicleJourney_ID==6187]

In [23]:
df_6187[categorical_columns].describe().T

                  count unique       top freq
JourneyPattern_ID   397      1  00270001  397
VehicleJourney_ID   397      1      6187  397
Stop_ID             397     74      2355   57
Day                 397      5  Thursday   97

In [24]:
pd.unique(df_6187.JourneyPattern_ID.ravel()) # what does ravel do?

array(['00270001'], dtype=object)

In [25]:
pd.unique(df_6187.Day.ravel())

array(['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday'], dtype=object)

In [27]:
df_6187_Mon = df_6187.loc[df_6187['Day'] == 'Monday']

In [28]:
df_6187_Mon[categorical_columns].describe().T

                  count unique       top freq
JourneyPattern_ID    80      1  00270001   80
VehicleJourney_ID    80      1      6187   80
Stop_ID              80     50      4595   17
Day                  80      1    Monday   80

In [31]:
df_6187_Mon.shape

(80, 19)

In [32]:
df_6187_Mon

,Timestamp,Line_ID,Direction,JourneyPattern_ID,Time_Frame,VehicleJourney_ID,Operator,Congestion,Longitude,Latitude,Delay,Block_ID,Vehicle_ID,Stop_ID,At_Stop,Time,Day,datetime,Trip_Time
2155470,1352733307,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,0,27006,33252,4595,1,15:15:07,Monday,"('15:15:07', 'Monday')",0
2155599,1352733328,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,0,27006,33252,4595,1,15:15:28,Monday,"('15:15:28', 'Monday')",21
2155711,1352733346,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,0,27006,33252,4595,1,15:15:46,Monday,"('15:15:46', 'Monday')",39
2155833,1352733367,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,0,27006,33252,4595,1,15:16:07,Monday,"('15:16:07', 'Monday')",60
2155974,1352733389,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,0,27006,33252,4595,1,15:16:29,Monday,"('15:16:29', 'Monday')",82
2156083,1352733406,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,0,27006,33252,4595,1,15:16:46,Monday,"('15:16:46', 'Monday')",99
2156345,1352733449,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,0,27006,33252,4595,1,15:17:29,Monday,"('15:17:29', 'Monday')",142
2156489,1352733467,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,0,27006,33252,4595,1,15:17:47,Monday,"('15:17:47', 'Monday')",160
2156583,1352733488,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,0,27006,33252,4595,1,15:18:08,Monday,"('15:18:08', 'Monday')",181
2156706,1352733506,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,0,27006,33252,4595,1,15:18:26,Monday,"('15:18:26', 'Monday')",199
2156853,1352733527,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,0,27006,33252,4595,1,15:18:47,Monday,"('15:18:47', 'Monday')",220
2156967,1352733547,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,0,27006,33252,4595,1,15:19:07,Monday,"('15:19:07', 'Monday')",240
2157111,1352733566,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,0,27006,33252,4595,1,15:19:26,Monday,"('15:19:26', 'Monday')",259
2157203,1352733586,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,0,27006,33252,4595,1,15:19:46,Monday,"('15:19:46', 'Monday')",279
2157343,1352733607,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,4,27006,33252,4595,1,15:20:07,Monday,"('15:20:07', 'Monday')",300
2157499,1352733628,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,24,27006,33252,4595,1,15:20:28,Monday,"('15:20:28', 'Monday')",321
2157575,1352733646,27.0,0,00270001,2012-11-12,6187,RD,0,-6.172567,53.402115,44,27006,33252,4595,1,15:20:46,Monday,"('15:20:46', 'Monday')",339
2158058,1352733726,27.0,0,00270001,2012-11-12,6187,RD,0,-6.181091,53.401699,-55,27006,33252,4563,1,15:22:06,Monday,"('15:22:06', 'Monday')",419
2158555,1352733806,27.0,0,00270001,2012-11-12,6187,RD,0,-6.184258,53.399723,-28,27006,33252,1218,1,15:23:26,Monday,"('15:23:26', 'Monday')",499
2159294,1352733927,27.0,0,00270001,2012-11-12,6187,RD,0,-6.190820,53.398167,-32,27006,33252,1258,1,15:25:27,Monday,"('15:25:27', 'Monday')",620
2159845,1352734007,27.0,0,00270001,2012-11-12,6187,RD,0,-6.198814,53.400169,-58,27006,33252,1260,1,15:26:47,Monday,"('15:26:47', 'Monday')",700
2160370,1352734086,27.0,0,00270001,2012-11-12,6187,RD,0,-6.204893,53.401993,-55,27006,33252,1262,1,15:28:06,Monday,"('15:28:06', 'Monday')",779
2161186,1352734206,27.0,0,00270001,2012-11-12,6187,RD,0,-6.208516,53.397514,-113,27006,33252,4693,1,15:30:06,Monday,"('15:30:06', 'Monday')",899
2161656,1352734288,27.0,0,00270001,2012-11-12,6187,RD,0,-6.211367,53.395058,-144,27006,33252,1254,1,15:31:28,Monday,"('15:31:28', 'Monday')",981
2164127,1352734690,27.0,0,00270001,2012-11-12,6187,RD,0,-6.198000,53.388981,-227,27006,33252,1274,1,15:38:10,Monday,"('15:38:10', 'Monday')",1383
2164525,1352734747,27.0,0,00270001,2012-11-12,6187,RD,0,-6.202140,53.385620,-265,27006,33252,1275,1,15:39:07,Monday,"('15:39:07', 'Monday')",1440
2164875,1352734788,27.0,0,00270001,2012-11-12,6187,RD,0,-6.202980,53.384262,-265,27006,33252,1276,1,15:39:48,Monday,"('15:39:48', 'Monday')",1481
2165367,1352734869,27.0,0,00270001,2012-11-12,6187,RD,0,-6.206219,53.382717,-243,27006,33252,1277,1,15:41:09,Monday,"('15:41:09', 'Monday')",1562
2167218,1352735131,27.0,0,00270001,2012-11-12,6187,RD,0,-6.224351,53.370224,-303,27006,33252,666,1,15:45:31,Monday,"('15:45:31', 'Monday')",1824
2167590,1352735190,27.0,0,00270001,2012-11-12,6187,RD,0,-6.227001,53.368011,-275,27006,33252,667,1,15:46:30,Monday,"('15:46:30', 'Monday')",1883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2184971,1352737603,27.0,0,00270001,2012-11-12,6187,RD,0,-6.278468,53.338772,161,27006,33488,2313,1,16:26:43,Monday,"('16:26:43', 'Monday')",4296
2185687,1352737703,27.0,0,00270001,2012-11-12,6187,RD,0,-6.285264,53.337669,142,27006,33488,2315,1,16:28:23,Monday,"('16:28:23', 'Monday')",4396
2186884,1352737846,27.0,0,00270001,2012-11-12,6187,RD,0,-6.289949,53.334827,162,27006,33488,2094,1,16:30:46,Monday,"('16:30:46', 'Monday')",4539
2187139,1352737885,27.0,0,00270001,2012-11-12,6187,RD,0,-6.291714,53.333202,82,27006,33488,1406,1,16:31:25,Monday,"('16:31:25', 'Monday')",4578
2187752,1352737963,27.0,0,00270001,2012-11-12,6187,RD,0,-6.294586,53.331581,81,27006,33488,1407,1,16:32:43,Monday,"('16:32:43', 'Monday')",4656
2188944,1352738113,27.0,0,00270001,2012-11-12,6187,RD,0,-6.302461,53.329075,32,27006,33488,2095,1,16:35:13,Monday,"('16:35:13', 'Monday')",4806
2190211,1352738271,27.0,0,00270001,2012-11-12,6187,RD,0,-6.309731,53.327492,51,27006,33488,2097,1,16:37:51,Monday,"('16:37:51', 'Monday')",4964
2192335,1352738552,27.0,0,00270001,2012-11-12,6187,RD,0,-6.326231,53.324265,30,27006,33488,2102,1,16:42:32,Monday,"('16:42:32', 'Monday')",5245
2193068,1352738652,27.0,0,00270001,2012-11-12,6187,RD,0,-6.329994,53.322102,30,27006,33488,2103,1,16:44:12,Monday,"('16:44:12', 'Monday')",5345
2195710,1352738994,27.0,0,00270001,2012-11-12,6187,RD,0,-6.334773,53.315609,162,27006,33488,2334,1,16:49:54,Monday,"('16:49:54', 'Monday')",5687
2196292,1352739072,27.0,0,00270001,2012-11-12,6187,RD,0,-6.341236,53.313362,135,27006,33488,4662,1,16:51:12,Monday,"('16:51:12', 'Monday')",5765
2197608,1352739252,27.0,0,00270001,2012-11-12,6187,RD,0,-6.351563,53.302586,80,27006,33488,2339,1,16:54:12,Monday,"('16:54:12', 'Monday')",5945
2197777,1352739273,27.0,0,00270001,2012-11-12,6187,RD,0,-6.351563,53.302586,80,27006,33488,2339,1,16:54:33,Monday,"('16:54:33', 'Monday')",5966
2200717,1352739612,27.0,0,00270001,2012-11-12,6187,RD,0,-6.357679,53.289238,67,27006,33488,2603,1,17:00:12,Monday,"('17:00:12', 'Monday')",6305
2202496,1352739832,27.0,0,00270001,2012-11-12,6187,RD,0,-6.363265,53.288513,161,27006,33488,2557,1,17:03:52,Monday,"('17:03:52', 'Monday')",6525
2203119,1352739912,27.0,0,00270001,2012-11-12,6187,RD,0,-6.367052,53.289192,161,27006,33488,4436,1,17:05:12,Monday,"('17:05:12', 'Monday')",6605
2204500,1352740074,27.0,0,00270001,2012-11-12,6187,RD,0,-6.373748,53.289494,134,27006,33488,4640,1,17:07:54,Monday,"('17:07:54', 'Monday')",6767
2204652,1352740093,27.0,0,00270001,2012-11-12,6187,RD,0,-6.373748,53.289494,151,27006,33488,4640,1,17:08:13,Monday,"('17:08:13', 'Monday')",6786
2206133,1352740272,27.0,0,00270001,2012-11-12,6187,RD,0,-6.375096,53.286221,203,27006,33488,4347,1,17:11:12,Monday,"('17:11:12', 'Monday')",6965
2206314,1352740295,27.0,0,00270001,2012-11-12,6187,RD,0,-6.375096,53.286221,203,27006,33488,4347,1,17:11:35,Monday,"('17:11:35', 'Monday')",6988
2206914,1352740373,27.0,0,00270001,2012-11-12,6187,RD,0,-6.378549,53.285076,198,27006,33488,2349,1,17:12:53,Monday,"('17:12:53', 'Monday')",7066
2207742,1352740472,27.0,0,00270001,2012-11-12,6187,RD,0,-6.384534,53.283260,150,27006,33488,2351,1,17:14:32,Monday,"('17:14:32', 'Monday')",7165
2207895,1352740493,27.0,0,00270001,2012-11-12,6187,RD,0,-6.384534,53.283260,170,27006,33488,2351,1,17:14:53,Monday,"('17:14:53', 'Monday')",7186
2208034,1352740511,27.0,0,00270001,2012-11-12,6187,RD,0,-6.384534,53.283260,190,27006,33488,2351,1,17:15:11,Monday,"('17:15:11', 'Monday')",7204
2208213,1352740532,27.0,0,00270001,2012-11-12,6187,RD,0,-6.384534,53.283260,210,27006,33488,2351,1,17:15:32,Monday,"('17:15:32', 'Monday')",7225
2208987,1352740632,27.0,0,00270001,2012-11-12,6187,RD,0,-6.389531,53.282196,250,27006,33488,2621,1,17:17:12,Monday,"('17:17:12', 'Monday')",7325
2209472,1352740692,27.0,0,00270001,2012-11-12,6187,RD,0,-6.392497,53.283936,274,27006,33488,2622,1,17:18:12,Monday,"('17:18:12', 'Monday')",7385
2211377,1352740931,27.0,0,00270001,2012-11-12,6187,RD,0,-6.407354,53.285946,334,27006,33488,2626,1,17:22:11,Monday,"('17:22:11', 'Monday')",7624
2211852,1352740993,27.0,0,00270001,2012-11-12,6187,RD,0,-6.406250,53.284981,374,27006,33488,2669,1,17:23:13,Monday,"('17:23:13', 'Monday')",7686
2212987,1352741133,27.0,0,00270001,2012-11-12,6187,RD,0,-6.403479,53.280899,419,27006,33488,4642,1,17:25:33,Monday,"('17:25:33', 'Monday')",7826

## Data Analysis Based on H1 from Data Analytics Module

In [33]:
df.shape

(2298944, 19)