# Dublin Bus Modelling 

In the notebook, first we will try Logistic Regression and evaluate the result

In [ ]:
#Import the required packages

#Import package pandas for data analysis
import pandas as pd

# Import package numpy for numeric computing
import numpy as np

# Import package matplotlib  for visualisation/plotting
import matplotlib.pyplot as plt

import matplotlib.patches as mpatches

#import package matplotlib for import plots to PDF
#from matplotlib.backends.backend_pdf import PdfPages


# Allows plots to appear directly in the notebook.
%matplotlib inline

#import package seaborn for visualisation
import seaborn as sns

In [ ]:
#import sklearn for LogisticRegression
#from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
#from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score

#Import statsmodels package for training a linear regression model.
#import statsmodels.formula.api as sm

In [ ]:
# Read the csv file to data frame 
%time df=pd.read_csv('Dublin_2012_Step2.csv')

In [ ]:
df

In [ ]:
#Drop index row 
df.drop(df[[0]],axis=1,inplace=True)

In [6]:
# Check how many rows we have after loaded the csv file (3169731, 13)
df.shape

(3169731, 13)

In [7]:
# Add hourOfDay to dataframe
df['datetime']=pd.to_datetime(df['datetime'])
df['HourOfDay']=df['datetime'].dt.hour

In [8]:
df.dtypes

Timestamp                      int64
Journey_Pattern_ID            object
Date                          object
Vehicle_Journey_ID             int64
Lon_WGS84                    float64
Lat_WGS84                    float64
Delay                          int64
Stop_ID                       object
At_Stop                        int64
Distance_Terminal            float64
datetime              datetime64[ns]
day_of_week                   object
Trip_Time                      int64
HourOfDay                      int64
dtype: object

In [9]:
df

,Timestamp,Journey_Pattern_ID,Date,Vehicle_Journey_ID,Lon_WGS84,Lat_WGS84,Delay,Stop_ID,At_Stop,Distance_Terminal,datetime,day_of_week,Trip_Time,HourOfDay
0,1352160000,00150001,2012-11-05,5826,-6.258584,53.340099,-361,4870,0,0.00,2012-11-06 00:00:00,Tuesday,0,0
1,1352160000,046A1002,2012-11-05,7267,-6.259093,53.345425,-1101,794,0,0.00,2012-11-06 00:00:00,Tuesday,0,0
2,1352160000,00140001,2012-11-05,6206,-6.257329,53.287521,-126,1047,0,0.00,2012-11-06 00:00:00,Tuesday,0,0
3,1352160002,041B0002,2012-11-05,61,-6.264167,53.453217,-623,3874,1,0.00,2012-11-06 00:00:02,Tuesday,0,0
4,1352160002,039A1002,2012-11-05,3795,-6.262447,53.346767,-532,1479,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
5,1352160002,00650001,2012-11-05,4004,-6.594641,53.129776,-287,7283,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
6,1352160002,040D1001,2012-11-05,2466,-6.258850,53.362499,-488,52,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
7,1352160002,00111002,2012-11-05,5241,-6.230217,53.323002,-536,320,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
8,1352160002,00311001,2012-11-05,2819,-6.241683,53.362484,-386,613,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
9,1352160002,00270001,2012-11-05,4976,-6.290833,53.319332,0,2355,1,0.00,2012-11-06 00:00:02,Tuesday,0,0
10,1352160002,00670001,2012-11-05,893,-6.476370,53.355328,-160,3892,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
11,1352160002,00790001,2012-11-05,3533,-6.332334,53.342850,328,2907,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
12,1352160002,00420002,2012-11-05,3880,-6.174524,53.442135,0,3579,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
13,1352160002,066A0001,2012-11-05,2940,-6.372633,53.355251,-362,3993,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
14,1352160002,00790001,2012-11-05,3511,-6.296600,53.347717,29,2907,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
15,1352160002,033B0001,2012-11-05,503,-6.141323,53.490158,61,3722,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
16,1352160002,01400001,2012-11-05,6615,-6.276083,53.343884,0,895,1,0.00,2012-11-06 00:00:02,Tuesday,0,0
17,1352160002,00440001,2012-11-05,5009,-6.220562,53.267975,500,3467,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
18,1352160002,027B1002,2012-11-05,374,-6.243900,53.398499,169,324,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
19,1352160002,016C0001,2012-11-05,6175,-6.254583,53.355534,-23,270,1,0.00,2012-11-06 00:00:02,Tuesday,0,0
20,1352160002,07470001,2012-11-05,4328,-6.253083,53.371799,0,3665,1,0.00,2012-11-06 00:00:02,Tuesday,0,0
21,1352160002,041C0001,2012-11-05,126,-6.244452,53.450260,-464,3090,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
22,1352160002,00391001,2012-11-05,3622,-6.333664,53.372768,-310,1847,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
23,1352160002,00250001,2012-11-05,713,-6.349717,53.349232,-458,2220,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
24,1352160002,02390002,2012-11-05,1871,-6.336783,53.395100,-218,4411,0,0.00,2012-11-06 00:00:02,Tuesday,0,0
25,1352160002,00431001,2012-11-05,3954,-6.235034,53.358368,-23,296,1,0.00,2012-11-06 00:00:02,Tuesday,0,0
26,1352160004,00700001,2012-11-05,1390,-6.475322,53.419350,-579,3332,0,0.00,2012-11-06 00:00:04,Tuesday,0,0
27,1352160004,00131012,2012-11-05,4106,-6.278217,53.416733,-263,281,1,0.00,2012-11-06 00:00:04,Tuesday,0,0
28,1352160004,01500001,2012-11-05,1547,-6.278584,53.325851,-260,1099,0,0.00,2012-11-06 00:00:04,Tuesday,0,0
29,1352160004,01450001,2012-11-05,6691,-6.123250,53.192467,-763,2962,0,0.00,2012-11-06 00:00:04,Tuesday,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3169701,1352764784,025A0001,2012-11-12,3416,-6.432260,53.342411,-84,4608,1,17407.71,2012-11-12 23:59:44,Monday,2129,23
3169702,1352764784,00130007,2012-11-12,4169,-6.377366,53.321342,679,4549,0,22280.67,2012-11-12 23:59:44,Monday,4781,23
3169703,1352764784,017A0005,2012-11-12,6166,-6.205787,53.392105,-619,999,0,17928.21,2012-11-12 23:59:44,Monday,1680,23
3169704,1352764784,00391001,2012-11-12,3622,-6.306361,53.364304,-572,1703,0,19353.90,2012-11-12 23:59:44,Monday,2081,23
3169705,1352764784,01840001,2012-11-12,1197,-6.068725,53.133522,-50,4227,0,12293.56,2012-11-12 23:59:44,Monday,1319,23
3169706,1352764784,00331001,2012-11-12,267,-6.164808,53.525356,403,3854,1,18775.20,2012-11-12 23:59:44,Monday,1569,23
3169707,1352764784,00700001,2012-11-12,1390,-6.425104,53.403587,36,4767,0,19023.73,2012-11-12 23:59:44,Monday,2299,23
3169708,1352764788,00370001,2012-11-12,2128,-6.393866,53.370567,-106,4893,0,15695.64,2012-11-12 23:59:48,Monday,2918,23
3169709,1352764788,00470001,2012-11-12,5392,-6.211107,53.264946,-582,7418,0,14394.05,2012-11-12 23:59:48,Monday,1901,23
3169710,1352764788,00400001,2012-11-12,6401,-6.377228,53.344555,890,2673,0,19452.60,2012-11-12 23:59:48,Monday,4118,23
3169711,1352764788,00160001,2012-11-12,5607,-6.263442,53.275517,-226,2971,0,22659.76,2012-11-12 23:59:48,Monday,4795,23
3169712,1352764788,00471001,2012-11-12,5401,-6.240348,53.342640,-650,396,0,16664.67,2012-11-12 23:59:48,Monday,1839,23
3169713,1352764788,00671001,2012-11-12,915,-6.321556,53.346500,-433,2248,0,23489.62,2012-11-12 23:59:48,Monday,2146,23
3169714,1352764790,00440001,2012-11-12,5009,-6.210663,53.260902,57,3471,0,18182.16,2012-11-12 23:59:50,Monday,3897,23
3169715,1352764790,046A1002,2012-11-12,7267,-6.256810,53.335869,-406,786,0,13572.90,2012-11-12 23:59:50,Monday,2078,23
3169716,1352764790,00270001,2012-11-12,4958,-6.407354,53.285946,-1064,2626,1,27369.84,2012-11-12 23:59:50,Monday,3881,23
3169717,1352764792,00090001,2012-11-12,4449,-6.333533,53.305782,-248,4392,1,18266.21,2012-11-12 23:59:52,Monday,3261,23
3169718,1352764792,01500001,2012-11-12,1547,-6.319134,53.298763,0,4861,0,10308.90,2012-11-12 23:59:52,Monday,2089,23
3169719,1352764792,00111001,2012-11-12,5294,-6.250500,53.341267,1129,21,0,22112.85,2012-11-12 23:59:52,Monday,2444,23
3169720,1352764792,00271001,2012-11-12,4804,-6.163950,53.394917,516,4595,1,29477.82,2012-11-12 23:59:52,Monday,5345,23
3169721,1352764792,01450001,2012-11-12,6702,-6.202506,53.294086,2661,435,0,13487.50,2012-11-12 23:59:52,Monday,4885,23
3169722,1352764792,00140001,2012-11-12,6206,-6.244843,53.279324,-665,2860,0,19141.47,2012-11-12 23:59:52,Monday,3286,23
3169723,1352764792,040D0001,2012-11-12,2460,-6.385174,53.415138,-315,4986,1,13831.98,2012-11-12 23:59:52,Monday,1706,23
3169724,1352764792,00381003,2012-11-12,1243,-6.261583,53.352734,-188,265,1,17614.83,2012-11-12 23:59:52,Monday,2089,23
3169725,1352764792,00371002,2012-11-12,2115,-6.260700,53.347198,-249,313,1,15676.00,2012-11-12 23:59:52,Monday,1645,23
3169726,1352764796,00310003,2012-11-12,2843,-6.065545,53.387112,0,559,0,14468.80,2012-11-12 23:59:56,Monday,1913,23
3169727,1352764796,01020001,2012-11-12,415,-6.250725,53.439415,-564,815,0,19959.37,2012-11-12 23:59:56,Monday,2093,23
3169728,1352764796,00331005,2012-11-12,269,-6.109184,53.580326,-36,3818,0,7483.98,2012-11-12 23:59:56,Monday,581,23
3169729,1352764796,00380001,2012-11-12,1269,-6.375340,53.399990,154,1819,0,16435.03,2012-11-12 23:59:56,Monday,2824,23
3169730,1352764798,015A0001,2012-11-12,3130,-6.299134,53.311970,267,1089,0,8033.41,2012-11-12 23:59:58,Monday,1779,23

In [10]:
#Find all the continuous features 

continuous_columns=df[['Lon_WGS84','Lat_WGS84','Delay','Distance_Terminal','Trip_Time']].columns

# Descriptive stats for continuous features
df[continuous_columns].describe().T

,count,mean,std,min,25%,50%,75%,max
Lon_WGS84,3169731.0,-6.270168,0.081152,-6.615067,-6.309314,-6.264495,-6.228252,-6.053133
Lat_WGS84,3169731.0,53.343494,0.053058,53.070332,53.318523,53.345020,53.372772,53.606518
Delay,3169731.0,54.072913,421.422407,-8958.000000,-153.000000,13.000000,227.000000,15188.000000
Distance_Terminal,3169731.0,10585.628070,7476.727585,0.000000,4686.710000,9470.000000,15448.840000,198057.590000
Trip_Time,3169731.0,2077.140856,1400.227907,0.000000,958.000000,1834.000000,2983.000000,10792.000000

In [11]:
#print("Unique Journey_Pattern_ID ", pd.unique(df.Journey_Pattern_ID.ravel()))

In [12]:
# df['day_of_week'] = df['day_of_week'].map({'Monday': 1, 'Tuesday': 2,'Wednesday':3,'Thursday':4,'Friday': 5,'Saturday':6,'Sunday':7})

In [11]:
df=df.loc[df['day_of_week']=='Monday']
df.shape

(503997, 14)

In [12]:
df.head()

,Timestamp,Journey_Pattern_ID,Date,Vehicle_Journey_ID,Lon_WGS84,Lat_WGS84,Delay,Stop_ID,At_Stop,Distance_Terminal,datetime,day_of_week,Trip_Time,HourOfDay
2665734,1352678402,00370001,2012-11-11,14536,-6.393299,53.370346,-94,4893,0,15748.64,2012-11-12 00:00:02,Monday,2481,0
2665735,1352678402,00271003,2012-11-11,16039,-6.261491,53.344337,-522,1358,0,15471.49,2012-11-12 00:00:02,Monday,2095,0
2665736,1352678402,041C0001,2012-11-11,13420,-6.238769,53.453152,-112,3708,1,13621.80,2012-11-12 00:00:02,Monday,2099,0
2665737,1352678402,00650003,2012-11-11,15515,-6.473654,53.217064,0,4012,0,24719.53,2012-11-12 00:00:02,Monday,2732,0
2665738,1352678402,01450001,2012-11-11,16801,-6.130641,53.242863,-539,3135,1,18120.79,2012-11-12 00:00:02,Monday,2434,0

In [13]:
df.reset_index(drop=True, inplace=True)

In [14]:
df.head()

,Timestamp,Journey_Pattern_ID,Date,Vehicle_Journey_ID,Lon_WGS84,Lat_WGS84,Delay,Stop_ID,At_Stop,Distance_Terminal,datetime,day_of_week,Trip_Time,HourOfDay
0,1352678402,00370001,2012-11-11,14536,-6.393299,53.370346,-94,4893,0,15748.64,2012-11-12 00:00:02,Monday,2481,0
1,1352678402,00271003,2012-11-11,16039,-6.261491,53.344337,-522,1358,0,15471.49,2012-11-12 00:00:02,Monday,2095,0
2,1352678402,041C0001,2012-11-11,13420,-6.238769,53.453152,-112,3708,1,13621.80,2012-11-12 00:00:02,Monday,2099,0
3,1352678402,00650003,2012-11-11,15515,-6.473654,53.217064,0,4012,0,24719.53,2012-11-12 00:00:02,Monday,2732,0
4,1352678402,01450001,2012-11-11,16801,-6.130641,53.242863,-539,3135,1,18120.79,2012-11-12 00:00:02,Monday,2434,0

In [14]:
#dummies = pd.get_dummies(df.Journey_Pattern_ID)
#df.join(dummies)

# Add Weather feature

In [15]:
# Use Pandas to read weather data into data frame 
weather_columns=['Date','TimeOfDay','Cloud','Rain','Temp','Wind']
df_weather=pd.read_csv('weather.csv',names=weather_columns)
df_weather

           Date TimeOfDay  Cloud  Rain  Temp   Wind
0    01/11/2012     night   3.60  0.00  1.30   7.00
1    01/11/2012     night   4.92  0.00  1.55  10.38
2    01/11/2012     night   4.52  0.05  2.97  13.00
3    01/11/2012     night   4.29  0.04  3.19  13.83
4    01/11/2012     night   4.59  0.03  3.44  14.34
5    01/11/2012     night   4.22  0.03  3.75  15.30
6    01/11/2012     night   4.31  0.02  4.06  15.36
7    01/11/2012     night   4.29  0.02  4.02  14.98
8    01/11/2012     night   4.40  0.02  3.86  14.28
9    01/11/2012     night   4.07  0.02  3.83  13.98
10   01/11/2012     night   3.78  0.01  4.06  13.91
11   01/11/2012     night   3.89  0.01  4.10  13.76
12   01/11/2012     night   4.09  0.01  4.27  13.52
13   01/11/2012     night   4.36  0.06  4.44  13.25
14   01/11/2012     night   4.53  0.07  4.66  13.04
15   01/11/2012     night   4.55  0.07  4.74  13.07
16   01/11/2012     night   4.43  0.06  4.76  12.87
17   01/11/2012     night   4.22  0.06  4.67  12.58
18   01/11/2012     night   4.11  0.05  4.79  12.40
19   01/11/2012     night   4.05  0.05  4.76  12.33
20   01/11/2012     night   4.03  0.05  4.70  12.28
21   01/11/2012     night   4.20  0.05  4.87  12.52
22   01/11/2012     night   4.33  0.04  5.12  12.81
23   01/11/2012     night   4.40  0.04  5.18  12.88
24   01/11/2012     night   4.52  0.04  5.28  13.00
25   01/11/2012     night   4.63  0.04  5.48  13.14
26   01/11/2012     night   4.75  0.04  5.71  13.33
27   01/11/2012     night   4.79  0.04  5.76  13.40
28   01/11/2012     night   4.83  0.04  5.83  13.46
29   01/11/2012     night   4.77  0.03  5.92  13.45
..          ...       ...    ...   ...   ...    ...
213  01/11/2012     night   5.47  0.10  5.65  10.35
214  01/11/2012     night   5.48  0.10  5.64  10.33
215  01/11/2012     night   5.49  0.10  5.64  10.33
216  01/11/2012     night   5.50  0.10  5.64  10.34
217  01/11/2012     night   5.51  0.10  5.64  10.35
218  01/11/2012     night   5.52  0.11  5.65  10.36
219  01/11/2012     night   5.53  0.11  5.65  10.37
220  01/11/2012     night   5.51  0.11  5.64  10.39
221  01/11/2012     night   5.50  0.11  5.64  10.39
222  01/11/2012     night   5.51  0.11  5.66  10.41
223  01/11/2012     night   5.52  0.11  5.67  10.43
224  01/11/2012     night   5.52  0.11  5.68  10.46
225  01/11/2012     night   5.51  0.11  5.68  10.52
226  01/11/2012     night   5.51  0.11  5.66  10.59
227  01/11/2012     night   5.51  0.11  5.66  10.61
228  01/11/2012     night   5.49  0.11  5.65  10.64
229  01/11/2012     night   5.50  0.11  5.64  10.66
230  01/11/2012     night   5.50  0.11  5.67  10.76
231  01/11/2012     night   5.51  0.11  5.68  10.79
232  01/11/2012     night   5.50  0.11  5.69  10.83
233  01/11/2012     night   5.51  0.11  5.70  10.83
234  01/11/2012     night   5.52  0.11  5.73  10.91
235  01/11/2012     night   5.52  0.11  5.73  10.92
236  01/11/2012     night   5.52  0.11  5.74  10.94
237  01/11/2012     night   5.52  0.11  5.74  11.01
238  01/11/2012     night   5.52  0.11  5.75  11.06
239  01/11/2012     night   5.52  0.11  5.75  11.07
240  01/11/2012     night   5.52  0.11  5.76  11.10
241  01/11/2012     night   5.51  0.11  5.76  11.16
242  01/11/2012     night   5.52  0.11  5.76  11.21

[243 rows x 6 columns]

In [16]:
df['TimeOfDay']=df['datetime'].dt.hour//12
df['TimeOfDay'] = df['TimeOfDay'].map({1: 'pm', 0: 'am'})

## Predictive Modeling: Logistic Regression

### Train the model with scikit-learn

In [42]:
intercept = pd.DataFrame({'Intercept': np.ones(503997)})
intercept

        Intercept
0             1.0
1             1.0
2             1.0
3             1.0
4             1.0
5             1.0
6             1.0
7             1.0
8             1.0
9             1.0
10            1.0
11            1.0
12            1.0
13            1.0
14            1.0
15            1.0
16            1.0
17            1.0
18            1.0
19            1.0
20            1.0
21            1.0
22            1.0
23            1.0
24            1.0
25            1.0
26            1.0
27            1.0
28            1.0
29            1.0
...           ...
503967        1.0
503968        1.0
503969        1.0
503970        1.0
503971        1.0
503972        1.0
503973        1.0
503974        1.0
503975        1.0
503976        1.0
503977        1.0
503978        1.0
503979        1.0
503980        1.0
503981        1.0
503982        1.0
503983        1.0
503984        1.0
503985        1.0
503986        1.0
503987        1.0
503988        1.0
503989        1.0
503990        1.0
503991        1.0
503992        1.0
503993        1.0
503994        1.0
503995        1.0
503996        1.0

[503997 rows x 1 columns]

In [16]:
# Prepare the descriptive features
X = pd.concat([intercept, df[['Journey_Pattern_ID','Distance_Terminal','HourOfDay']]], axis=1)
y = df.Trip_Time 

print("Descriptive features:\n", X)
print("\nTarget feature:\n", y)

NameError: name 'intercept' is not defined

In [44]:
X

        Intercept Journey_Pattern_ID  Distance_Terminal  HourOfDay
0             1.0           00370001           15748.64          0
1             1.0           00271003           15471.49          0
2             1.0           041C0001           13621.80          0
3             1.0           00650003           24719.53          0
4             1.0           01450001           18120.79          0
5             1.0           00390002           21626.81          0
6             1.0           00790001            9694.26          0
7             1.0           00400001           20631.60          0
8             1.0           00150001           21090.26          0
9             1.0           00401002           14920.31          0
10            1.0           041C1001           16856.07          0
11            1.0           00071001           12702.19          0
12            1.0           00180001           15058.84          0
13            1.0           00471001           16158.01          0
14            1.0           00391001           17580.77          0
15            1.0           00181001           14970.50          0
16            1.0           00671001           23819.81          0
17            1.0           00310003           17310.73          0
18            1.0           01450001           25255.69          0
19            1.0           00470001           15801.39          0
20            1.0           033B0001            7411.56          0
21            1.0           00270001           26987.78          0
22            1.0           00680003           14556.93          0
23            1.0           01510002           15327.22          0
24            1.0           00131012            8849.77          0
25            1.0           00090001           19143.32          0
26            1.0           056A1001           16951.47          0
27            1.0           077A1001           20270.43          0
28            1.0           00670001           20816.40          0
29            1.0           00691002            8104.70          0
...           ...                ...                ...        ...
503967        1.0           025A0001           17407.71         23
503968        1.0           00130007           22280.67         23
503969        1.0           017A0005           17928.21         23
503970        1.0           00391001           19353.90         23
503971        1.0           01840001           12293.56         23
503972        1.0           00331001           18775.20         23
503973        1.0           00700001           19023.73         23
503974        1.0           00370001           15695.64         23
503975        1.0           00470001           14394.05         23
503976        1.0           00400001           19452.60         23
503977        1.0           00160001           22659.76         23
503978        1.0           00471001           16664.67         23
503979        1.0           00671001           23489.62         23
503980        1.0           00440001           18182.16         23
503981        1.0           046A1002           13572.90         23
503982        1.0           00270001           27369.84         23
503983        1.0           00090001           18266.21         23
503984        1.0           01500001           10308.90         23
503985        1.0           00111001           22112.85         23
503986        1.0           00271001           29477.82         23
503987        1.0           01450001           13487.50         23
503988        1.0           00140001           19141.47         23
503989        1.0           040D0001           13831.98         23
503990        1.0           00381003           17614.83         23
503991        1.0           00371002           15676.00         23
503992        1.0           00310003           14468.80         23
503993        1.0           01020001           19959.37         23
503994        1.0           00331005            7483.98         23
503995        1.0           00380001           16435.03         23
503996        1.0           015A0001            8033.41         23

[503997 rows x 4 columns]

In [20]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

for col in X.columns.values:
    if X[col].dtypes=='object':
        # Using whole data to form an exhaustive list of levels
        data=X[col]
        le.fit(data.values)
        X[col]=le.transform(X[col])
X

        Journey_Pattern_ID  Distance_Terminal
0                       84           15748.64
1                       70           15471.49
2                      367           13621.80
3                      144           24719.53
4                      225           18120.79
5                       93           21626.81
6                      174            9694.26
7                       95           20631.60
8                       43           21090.26
9                       99           14920.31
10                     368           16856.07
11                      11           12702.19
12                      58           15058.84
13                     123           16158.01
14                      94           17580.77
15                      59           14970.50
16                     151           23819.81
17                      73           17310.73
18                     225           25255.69
19                     121           15801.39
20                     339            7411.56
21                      65           26987.78
22                     154           14556.93
23                     243           15327.22
24                      39            8849.77
25                      15           19143.32
26                     405           16951.47
27                     433           20270.43
28                     150           20816.40
29                     163            8104.70
...                    ...                ...
503967                 292           17407.71
503968                  28           22280.67
503969                 264           17928.21
503970                  94           19353.90
503971                 268           12293.56
503972                  80           18775.20
503973                 164           19023.73
503974                  84           15695.64
503975                 121           14394.05
503976                  95           19452.60
503977                  47           22659.76
503978                 123           16664.67
503979                 151           23489.62
503980                 117           18182.16
503981                 393           13572.90
503982                  65           27369.84
503983                  15           18266.21
503984                 240           10308.90
503985                  21           22112.85
503986                  68           29477.82
503987                 225           13487.50
503988                  40           19141.47
503989                 359           13831.98
503990                  91           17614.83
503991                  86           15676.00
503992                  73           14468.80
503993                 193           19959.37
503994                  83            7483.98
503995                  87           16435.03
503996                 247            8033.41

[503997 rows x 2 columns]

In [46]:
X.dtypes

Intercept             float64
Journey_Pattern_ID      int64
Distance_Terminal     float64
HourOfDay               int64
dtype: object

In [ ]:
# Train a model using logistic regression from scikit-learn.
# Use only the descriptive feature Size.
%time logreg = LogisticRegression().fit(X, y)

In [ ]:
Y

In [ ]:
# Print the valuation of the model 
predictions = logreg.predict(X)
print("Accuracy: ", metrics.accuracy_score(y, predictions))
print("Confusion matrix: \n", metrics.confusion_matrix(y, predictions))
print("Classification report:\n ", metrics.classification_report(y, predictions))

In [24]:
from sklearn.linear_model import LinearRegression
lm_sk = LinearRegression()
lm_sk.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [27]:
predictions=lm_sk.predict(X)

In [31]:
predicted

array([ 2918.56373851,  2890.63025083,  2381.33312645, ...,  1669.36350286,
        2942.12572019,  1612.07125912])

In [ ]:
accuracy_score(y,knn.predict(X_test_minmax))

# Train the model with scikit-learn Lear regression

In [ ]:
% matplotlib inline
df.plot(kind='scatter', x='Distance_Terminal', y='Trip_Time',  figsize=(5, 5))

In [15]:
# Prepare the descriptive features
X = pd.concat([df[['Journey_Pattern_ID','Distance_Terminal','HourOfDay']]], axis=1)
y = df.Trip_Time 

print("Descriptive features:\n", X)
print("\nTarget feature:\n", y)

Descriptive features:
        Journey_Pattern_ID  Distance_Terminal  HourOfDay
0                00370001           15748.64          0
1                00271003           15471.49          0
2                041C0001           13621.80          0
3                00650003           24719.53          0
4                01450001           18120.79          0
5                00390002           21626.81          0
6                00790001            9694.26          0
7                00400001           20631.60          0
8                00150001           21090.26          0
9                00401002           14920.31          0
10               041C1001           16856.07          0
11               00071001           12702.19          0
12               00180001           15058.84          0
13               00471001           16158.01          0
14               00391001           17580.77          0
15               00181001           14970.50          0
16               00671001           23819.81          0
17               00310003           17310.73          0
18               01450001           25255.69          0
19               00470001           15801.39          0
20               033B0001            7411.56          0
21               00270001           26987.78          0
22               00680003           14556.93          0
23               01510002           15327.22          0
24               00131012            8849.77          0
25               00090001           19143.32          0
26               056A1001           16951.47          0
27               077A1001           20270.43          0
28               00670001           20816.40          0
29               00691002            8104.70          0
...                   ...                ...        ...
503967           025A0001           17407.71         23
503968           00130007           22280.67         23
503969           017A0005           17928.21         23
503970           00391001           19353.90         23
503971           01840001           12293.56         23
503972           00331001           18775.20         23
503973           00700001           19023.73         23
503974           00370001           15695.64         23
503975           00470001           14394.05         23
503976           00400001           19452.60         23
503977           00160001           22659.76         23
503978           00471001           16664.67         23
503979           00671001           23489.62         23
503980           00440001           18182.16         23
503981           046A1002           13572.90         23
503982           00270001           27369.84         23
503983           00090001           18266.21         23
503984           01500001           10308.90         23
503985           00111001           22112.85         23
503986           00271001           29477.82         23
503987           01450001           13487.50         23
503988           00140001           19141.47         23
503989           040D0001           13831.98         23
503990           00381003           17614.83         23
503991           00371002           15676.00         23
503992           00310003           14468.80         23
503993           01020001           19959.37         23
503994           00331005            7483.98         23
503995           00380001           16435.03         23
503996           015A0001            8033.41         23

[503997 rows x 3 columns]

Target feature:
 0         2481
1         2095
2         2099
3         2732
4         2434
5         3318
6         2079
7         3894
8         3789
9         2099
10        2113
11        2042
12        2078
13        2099
14        2103
15        2223
16        2024
17        1901
18        3602
19        2062
20         811
21        3902
22        1818
23        2420
24        1177
25        3920
26        1999
27        2701
28        2361
29         740
          ...
503967    2129
503968    4781
503969    1680
503970    2081
503971    1319
503972    1569
503973    2299
503974    2918
503975    1901
503976    4118
503977    4795
503978    1839
503979    2146
503980    3897
503981    2078
503982    3881
503983    3261
503984    2089
503985    2444
503986    5345
503987    4885
503988    3286
503989    1706
503990    2089
503991    1645
503992    1913
503993    2093
503994     581
503995    2824
503996    1779
Name: Trip_Time, dtype: int64

In [19]:
df_linear = pd.concat([X, y], axis=1)
%time lm = sm.ols(formula = "Trip_Time ~ Journey_Pattern_ID+Distance_Terminal + HourOfDay", data=df_linear).fit()

CPU times: user 4min 38s, sys: 20min 4s, total: 24min 43s
Wall time: 28min 5s

In [ ]:
df.plot(kind='scatter', x='Distance_Terminal', y='Trip_Time')
plt.plot(y, lm_predictions, c='red', linewidth=2)

# Training the model with SVM : SVR(Support Vector Regression)

In [17]:
#Import SVM and assign to a model 
from sklearn import svm
# http://scikit-learn.org/stable/modules/generated/sklearn.svm.SVR.html
clf = svm.SVR()

In [18]:
# Prepare the descriptive features
X = pd.concat([df[['Journey_Pattern_ID','Distance_Terminal']]], axis=1)
y = df.Trip_Time 

print("Descriptive features:\n", X)
print("\nTarget feature:\n", y)

Descriptive features:
        Journey_Pattern_ID  Distance_Terminal
0                00370001           15748.64
1                00271003           15471.49
2                041C0001           13621.80
3                00650003           24719.53
4                01450001           18120.79
5                00390002           21626.81
6                00790001            9694.26
7                00400001           20631.60
8                00150001           21090.26
9                00401002           14920.31
10               041C1001           16856.07
11               00071001           12702.19
12               00180001           15058.84
13               00471001           16158.01
14               00391001           17580.77
15               00181001           14970.50
16               00671001           23819.81
17               00310003           17310.73
18               01450001           25255.69
19               00470001           15801.39
20               033B0001            7411.56
21               00270001           26987.78
22               00680003           14556.93
23               01510002           15327.22
24               00131012            8849.77
25               00090001           19143.32
26               056A1001           16951.47
27               077A1001           20270.43
28               00670001           20816.40
29               00691002            8104.70
...                   ...                ...
503967           025A0001           17407.71
503968           00130007           22280.67
503969           017A0005           17928.21
503970           00391001           19353.90
503971           01840001           12293.56
503972           00331001           18775.20
503973           00700001           19023.73
503974           00370001           15695.64
503975           00470001           14394.05
503976           00400001           19452.60
503977           00160001           22659.76
503978           00471001           16664.67
503979           00671001           23489.62
503980           00440001           18182.16
503981           046A1002           13572.90
503982           00270001           27369.84
503983           00090001           18266.21
503984           01500001           10308.90
503985           00111001           22112.85
503986           00271001           29477.82
503987           01450001           13487.50
503988           00140001           19141.47
503989           040D0001           13831.98
503990           00381003           17614.83
503991           00371002           15676.00
503992           00310003           14468.80
503993           01020001           19959.37
503994           00331005            7483.98
503995           00380001           16435.03
503996           015A0001            8033.41

[503997 rows x 2 columns]

Target feature:
 0         2481
1         2095
2         2099
3         2732
4         2434
5         3318
6         2079
7         3894
8         3789
9         2099
10        2113
11        2042
12        2078
13        2099
14        2103
15        2223
16        2024
17        1901
18        3602
19        2062
20         811
21        3902
22        1818
23        2420
24        1177
25        3920
26        1999
27        2701
28        2361
29         740
          ...
503967    2129
503968    4781
503969    1680
503970    2081
503971    1319
503972    1569
503973    2299
503974    2918
503975    1901
503976    4118
503977    4795
503978    1839
503979    2146
503980    3897
503981    2078
503982    3881
503983    3261
503984    2089
503985    2444
503986    5345
503987    4885
503988    3286
503989    1706
503990    2089
503991    1645
503992    1913
503993    2093
503994     581
503995    2824
503996    1779
Name: Trip_Time, dtype: int64

In [ ]:
# Train the model 
%time clf.fit(X, y)

CPU times: user 2h 15min 8s, sys: 57.1 s, total: 2h 16min 5s
Wall time: 18h 56min 23s

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
clf.predict(X)

In [ ]:
df.plot(kind='scatter', x='Distance_Terminal', y='Trip_Time')
plt.plot(y, lm_predictions, c='red', linewidth=2)