In [13]:
import pandas as pd
import numpy
import matplotlib

In [14]:
df = pd.read_csv('siri.20121106.csv', names=["Timestamp", "Line_ID", "Direction", "JourneyPattern_ID", "Time_Frame", "VehicleJourney_ID", "Operator", "Congestion", "Longitude", "Latitude", "Delay", "Block_ID", "Vehicle_ID", "Stop_ID", "At_Stop"])

C:\Users\pamel\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
df_sample2 = df.loc[(df['Line_ID'] == '7') & (df['Time_Frame'] == '2012-11-05') &(df['JourneyPattern_ID'] == '00070001')]

In [16]:
stops = df_sample2['Stop_ID'].unique().tolist()

In [17]:
print(stops)

['3219', '2040', '3220', '2041', '3221', '2043', '2044', '2045', '2046', '6082', '3205', '3206', '3207', '3208', '3209', '3210', '4981', '3211', '3212', '3213', '3214', '3215', '3216', '3217', '3218', '4982']

In [20]:
df_sample3 = df.loc[(df['Line_ID'] == '7') & (df['Time_Frame'] == '2012-11-05') & (df['VehicleJourney_ID'] == 6966) &
                   (df['At_Stop'] == 1)]

C:\Users\pamel\Anaconda3\lib\site-packages\pandas\core\ops.py:792: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [21]:
df_sample3.head(12)

,Timestamp,Line_ID,Direction,JourneyPattern_ID,Time_Frame,VehicleJourney_ID,Operator,Congestion,Longitude,Latitude,Delay,Block_ID,Vehicle_ID,Stop_ID,At_Stop
259,1352160031000000,7,0,00070001,2012-11-05,6966,D1,0,-6.13301,53.250805,-72,7009,43021,3220,1

In [10]:
df_stops = pd.read_csv('stops.csv')
df_stops.head(5)

        stop_id                       stop_name   stop_lat  stop_lon
0     822000438                   Maldron Hotel  53.345236 -6.240592
1   8220B007612  Davenport Hotel Merrion Street  53.341347 -6.250529
2  8220DB000002    Rotunda, Parnell Square West  53.352244 -6.263723
3  8220DB000003           Rotunda, Granby Place  53.352309 -6.263811
4  8220DB000004       Rotunda, Rotunda Hospital  53.352575 -6.264175

In [11]:
df_stops_number7 = pd.DataFrame()

In [12]:
print(df_stops_number7)

Empty DataFrame
Columns: []
Index: []